* {
  margin: 0 auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #111;
}
.wrapper {
  max-width: 1800px;
  width: 100%;
  height: 100vh;
  background-color: #111;
}

.header {
  width: 100%;
  height: 130px;
  background-color: #202020;
  border: 1px solid white;
}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 52px;
  border: 1px solid white;
}
.nav__logo {
  width: 310px;
  height: 80px;
  margin-left: 0;
  margin-top: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
}
.nav__logo > a {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 21px;
}
.nav__logo>a>img{
  margin-right: 10px;
}
.nav__list {
  max-width: 1070px;
  width: 100%;
  height: 80px;
  border: 1px solid white;
  margin-left: 0;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item{
  width: 225px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/Admin/images/icons/border-nav.svg");
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #B0B0B0;
  background-color: #111;
}
.nav__btns {
  width: 320px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px  ;
}
.nav__btn{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
